.navigation {
  align-items: center;
  padding: var(--size-4) 0;
  grid-template-areas: ". logo logo logo . . . . . . sp a s .";
}

.navigation a {
  font-size: var(--size-4);
  color: var(--text-1);
}

.logo {
  grid-area: logo;
}

.about {
  grid-area: a;
  text-decoration: none;
}

.speakers {
  grid-area: sp;
}

.sponsor {
  grid-area: s;
  text-decoration: none;
}
