.body {
  grid-auto-rows: auto 1fr;
  grid-template-areas:
    ". hHead hHead hHead hHead hHead hHead hHead hHead hHead hHead hHead hHead . "
    ". hInfo hInfo hInfo hInfo hInfo hInfo hInfo hInfo hInfo hInfo hInfo hInfo . ";
}

.aboutHeader {
  grid-area: hHead;
  justify-self: center;
  padding-bottom: var(--size-4);
  font-size: var(--font-size-7);
  font-family: var(--font-sans);
  font-weight: var(--font-weight-7);
  letter-spacing: var(--font-letterspacing-0);
}

.aboutInfo {
  grid-area: hInfo;
  justify-self: center;
  background: var(--surface-3);
  border: 1px solid var(--surface-1);
  padding: var(--size-4);
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-2);
}

.aboutInfo + ul {
  padding-bottom: var(--size-8);
}

.aboutInfo p {
  font-size: var(--font-size-fluid-1);
}

.aboutInfo p {
  padding-bottom: var(--size-8);
}
