.body {
  background-size: 100%;
  background-position: center;
  background-image: url(../images/bbburst.svg);
  row-gap: var(--size-8);
  grid-template-areas:
    "hero hero hero hero hero hero hero hero hero hero hero hero hero hero"
    ". spHead spHead spHead spHead spHead spHead spHead spHead spHead spHead spHead spHead . "
    ". sp sp sp sp sp sp sp sp sp sp sp sp . "
    ". aHead aHead aHead aHead aHead aHead aHead aHead aHead aHead aHead aHead . "
    ". aInfo aInfo aInfo aInfo aInfo aInfo aInfo aInfo aInfo aInfo aInfo aInfo . "
    ". s_one s_one s_one s_one s_one s_one s_two s_two s_two s_two s_two s_two ."
    ". s_three s_three s_three s_three s_three s_three s_four s_four s_four s_four s_four s_four ."
    ". tHead tHead tHead tHead tHead tHead tHead tHead tHead tHead tHead tHead . "
    ". tInfo tInfo tInfo tInfo tInfo tInfo tInfo tInfo tInfo tInfo tInfo tInfo . "
    ". foot foot foot foot foot foot foot foot foot foot foot foot . ";
}

/* Hero Start */

.hero {
  grid-area: hero;
  display: grid;
  grid-template-areas: ". hInfo hInfo hInfo hInfo hInfo hInfo . hImg hImg hImg hImg hImg . ";
}

.hero_image {
  grid-area: hImg;
}

.hero_image img {
  border-radius: var(--radius-blob-2);
}

.hero_content {
  grid-area: hInfo;
  justify-self: center;
  align-self: center;
}

.hero_content h1 {
  font-size: var(--font-size-8);
  font-family: var(--font-sans);
  font-weight: var(--font-weight-7);
  letter-spacing: var(--font-letterspacing-0);
}

.hero_content h3 {
  font-weight: var(--font-weight-5);
}

.hero_content h4 {
  font-weight: var(--font-weight-5);
}
/* Hero End */

/* Sponsors Start */

.sponsorsHeader {
  grid-area: spHead;
  justify-self: center;
}

.sponsorsHeader {
  font-size: var(--font-size-7);
  font-family: var(--font-sans);
  font-weight: var(--font-weight-7);
  letter-spacing: var(--font-letterspacing-0);
}

.sponsor_container {
  grid-area: sp;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.sponsor_container > article {
  padding: 20px;
  margin-bottom: var(--size-8);
  flex-basis: var(--size-content-1);
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
  background: var(--surface-3);
  border: 1px solid var(--surface-1);
  padding: var(--size-4);
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-2);
  flex-basis: 350px;
}

.sponsor_container > article h3 {
  line-height: var(--font-lineheight-1);
  font-family: var(--font-sans);
  font-weight: var(--font-weight-7);
}

.sponsor_container > article:first-child img {
  border-radius: var(--radius-blob-3);
  padding: 20px;
}

.sponsor_container > article:nth-child(2) img {
  border-radius: var(--radius-blob-1);
  padding: 20px;
}

.sponsor_container > article:nth-child(3) img {
  border-radius: var(--radius-blob-4);
  padding: 20px;
}

.one_sponsor {
  grid-area: sp_one;
}

.two_sponsor {
  grid-area: sp_two;
}

.three_sponsor {
  grid-area: sp_three;
}

/* Start About */
.speakers_header {
  grid-area: aHead;
  justify-self: center;
}

.speaker_one {
  grid-area: s_one;
}

.speaker_two {
  grid-area: s_two;
}

.speaker_three {
  grid-area: s_three;
}

.speaker_four {
  grid-area: s_four;
}

.sspeakers_info {
  grid-area: aInfo;
  justify-self: center;
}

.speakers_info > p {
  padding-bottom: 20px;
}

/* End About */

/* Tickets Start */
.ticketHeader {
  grid-area: tHead;
  justify-self: center;
}

.ticketInfo {
  grid-area: tInfo;
}

/* Tickets End */
