.body {
  min-height: 100%;
  display: grid;
  margin: 0 auto;
  grid-template-areas:
    ". sHead sHead sHead sHead sHead sHead sHead sHead sHead sHead sHead sHead ."
    ". cred cred cred cred cred cred cred cred cred cred cred cred ."
    ". sInfo sInfo sInfo sInfo sInfo sInfo sInfo sInfo sInfo sInfo sInfo sInfo ."
    ". . . . . . . . . . . . . .";
}

.sponsorHeader {
  grid-area: sHead;
  justify-self: center;
  font-family: var(--font-sans);
  font-weight: var(--font-weight-7);
  letter-spacing: var(--font-letterspacing-0);
}

.credit {
  grid-area: cred;
  justify-self: center;
  display: flex;
  flex-direction: column;
}

.sponsorContent {
  grid-area: sInfo;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-self: center;
  background: var(--surface-3);
  border: 1px solid var(--surface-1);
  padding: var(--size-4);
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-2);
}

.sponsorContent > p,
.sponsorContent ul {
  padding-bottom: 20px;
}

.sponsorContent > h3 {
  font-family: var(--font-sans);
  font-weight: var(--font-weight-7);
  letter-spacing: var(--font-letterspacing-0);
}

.sponsorship_packages {
  display: flex;
  list-style: none;
  flex-grow: 1;

  padding-inline-start: 0;
}

.sponsorContent strong {
  padding-bottom: var(--size-4);
}

.packages {
  display: flex;
  flex-direction: column;
  padding: var(--size-4) 0;
}
